*{
    font-family: sans-serif;
}
.btn-start{
    margin: 339px;
    font-size: 30px;
}

.centrage{
    margin: 200px;
    font-size: 20px;
}

.next{
    font-size: 20px;
}

#interface{
    position: relative;
    height: 720px;
    text-align: center;
}

#questionPlayer{
    position: relative;
}

#player{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#initiate{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 720px;
    width: 1280px;
    background: rgba( 255, 255, 255 , 0.8);
    z-index: 2;
}

#timerLaunch{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 720px;
    width: 1280px;
    background: rgba( 255, 255, 255 , 0.8);
    z-index: 0;
}

#question1{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    height: 720px;
    width: 1280px;
    background: rgba( 255, 255, 255 , 0.8);
}

#question2{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    height: 720px;
    width: 1280px;
    background: rgba( 255, 255, 255 , 0.8);
}

#question3{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    height: 720px;
    width: 1280px;
    background: rgba( 255, 255, 255 , 0.8);
}

#submit{
    font-size: 30px;
}

#chapters{
    visibility: hidden;
}