*{
    font-family: sans-serif;
}
.btn-start{
    margin: 339px;
    font-size: 30px;
}

.centrage{
    margin: 200px;
    font-size: 20px;
}

.next{
    font-size: 20px;
}

#interface{
    position: relative;
    height: 720px;
    text-align: center;
}

#questionPlayer{
    position: relative;
}

#player{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#initiate{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 720px;
    width: 1280px;
    background: rgba( 255, 255, 255 , 0.8);
    z-index: 2;
}

#question1{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    height: 720px;
    width: 1280px;
    background: rgba( 255, 255, 255 , 0.8);
}

#question2{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    height: 720px;
    width: 1280px;
    background: rgba( 255, 255, 255 , 0.8);
}

#question3{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    height: 720px;
    width: 1280px;
    background: rgba( 255, 255, 255 , 0.8);
}

#submit{
    font-size: 30px;
}
#submit2{
    font-size: 30px;
}

#submit3{
    font-size: 30px;
}

#chapters{
    visibility: hidden;
}

@media screen and (max-width: 1280px){
    .btn-start{
        margin: 250px;
        font-size: 30px;
    }
    .centrage{
        margin: 100px;
        font-size: 20px;
    }
    
    .next{
        font-size: 20px;
    }
    #interface{
        height: 540px;
    }
    #initiate{
        height: 540px;
        width: 960px;
    }
    
    #question1{
        height: 540px;
        width: 960px;
    }
    
    #question2{
        height: 540px;
        width: 960px;
    }
    
    #question3{
        height: 540px;
        width: 960px;
    }
    #submit{
        font-size: 20px;
    }
    #submit2{
        font-size: 20px;
    }
    #submit3{
        font-size: 20px;
    }
}
@media screen and (max-width: 960px){
    .btn-start{
        margin: 160px;
        font-size: 30px;
    }
    .centrage{
        margin: 10px;
        font-size: 12px;
    }
    
    .next{
        font-size: 20px;
    }
    #interface{
        height: 360px;
    }
    #initiate{
        height: 360px;
        width: 640px;
    }
    
    #question1{
        height: 360px;
        width: 640px;
    }
    
    #question2{
        height: 360px;
        width: 640px;
    }
    
    #question3{
        height: 360px;
        width: 640px;
    }
    #submit{
        font-size: 20px;
    }
    #submit2{
        font-size: 20px;
    }
    #submit3{
        font-size: 20px;
    }
}
@media screen and (max-width: 640px){
    input{
        margin: 0px;
    }
    .btn-start{
        margin: 115px;
        font-size: 30px;
    }
    .centrage{
        margin: 3px;
        font-size: 12px;
    }
    
    .next{
        font-size: 10px;
    }
    #interface{
        height: 270px;
    }
    #initiate{
        height: 270px;
        width: 480px;
    }
    
    #question1{
        height: 270px;
        width: 480px;
    }
    
    #question2{
        height: 270px;
        width: 480px;
    }
    
    #question3{
        height: 270px;
        width: 480px;
    }
    #submit{
        font-size: 10px;
        margin: 0;
    }
    #submit2{
        font-size: 10px;
        margin: 0;
    }
    #submit3{
        font-size: 10px;
        margin: 0;
    }
}